.control-mat-dialog .dynamicFormDiv[name=subForm]{
    .listIndexDiv{
        display: inline-block !important;
        width:22% !important;
        margin-right: 4% !important;
    }
    .isPublishedDiv{
        display: inline-block !important;
        width:22% !important;
        margin-right: 4% !important;
    }
    .numeroDiv{
        display: inline-block !important;
        width:22% !important;
        margin-right: 4% !important;
    }
    .tipoDiv{
        display: inline-block !important;
        width:22% !important;
    }
}