@use '~@angular/material' as mat;

$mat-white: (
    500: white,
    contrast: (
        500: rgba(black, 0.87)
    )
);

$mat-black: (
    500: black,
    contrast: (
        500: white,
    )
);

$mat-fusedark: (
    50: #ECECEE,
    100: #C5C6CB,
    200: #9EA1A9,
    300: #7D818C,
    400: #5C616F,
    500: #3C4252,
    600: #353A48,
    700: #2D323E,
    800: #262933,
    900: #1E2129,
    A100: #C5C6CB,
    A200: #9EA1A9,
    A400: #5C616F,
    A700: #2D323E,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: rgba(white, 0.87),
        600: rgba(white, 0.87),
        700: rgba(white, 0.87),
        800: rgba(white, 0.87),
        900: rgba(white, 0.87),
        A100: rgba(black, 0.87),
        A200: rgba(white, 0.87),
        A400: rgba(white, 0.87),
        A700: rgba(white, 0.87),
    )
);

// Palettes
$primary: mat.define-palette($mat-fusedark);
$accent: mat.define-palette(mat.$light-blue-palette, 600, 400, 700);
$warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat.define-light-theme($primary, $accent, $warn);

$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
