<mat-card class="list-card">
  <mat-card-header>
    <mat-card-title>{{titleFrom}}</mat-card-title>
    <mat-checkbox [(ngModel)]="selectAll" (ngModelChange)="onChangeSelectAll($event)">
                      Seleccionar todo</mat-checkbox>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list #list [(ngModel)]="dataSelected" [compareWith]="compareFn" (ngModelChange)="onNgModelChangeList()">
      <mat-list-option checkboxPosition="before" *ngFor="let data of _fromData" [value]="data">
        {{getNameElementList(data)}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>