.no-content-content {
    width: 100%;
    margin: 2%;
}
.input-no-content-content {
    margin: 2% 0;
}
.alert {
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: #fff7d9;
    font-weight: bold;
    padding: .75rem 1.25rem;
    border: 1px solid #ffe8a6;;
    border-radius: .25rem;
}
// white-space: nowrap;
// text-overflow: ellipsis;
// overflow: hidden;
// display: inherit;
// position: relative;
// border: 1px solid transparent;
// margin-bottom: 1rem;