.component-PRODUCTO_EXTERNO{
    .crud-table{
        /* @media screen and (max-width:899px) {
            .mat-header-row, .mat-row {
                width: max-content;
            }
        } */

        .action-cell {
            width: 80px !important;
            min-width: 80px !important;
            max-width: 80px !important;
        }

        #orderHeader,
        #orderCell{
            width: 70px;
            min-width: 70px;
            max-width: 70px;
        }

        #favouriteHeader,
        #favouriteCell{
            width: 80px !important;
            min-width: 80px !important;
            max-width: 80px !important;
        }

        #categoryHeader,
        #categoryCell{
            width: 120px;
            min-width: 120px;
            max-width: 120px;
        }

        #subcategoryHeader,
        #subcategoryCell {
            width: 140px;
            min-width: 140px;
            max-width: 140px;
        }

        #questionHeader,
        #questionCell {
            min-width: 350px;
        }

        mat-header-cell.checkbox-cell {
            display: none;
        }
        
        mat-row.mat-row > mat-cell:nth-child(1) {
            display: none;
        }
       

    }
}
.control-mat-dialog .dynamicFormDiv[name=subForm]{

    

    #info_title > label:nth-child(1) > div:nth-child(1), #agenda_title > label:nth-child(1) > div:nth-child(1) {
        display:none;
    }
    
    #info_title > label:nth-child(1) > span:nth-child(2), #agenda_title > label:nth-child(1) > span:nth-child(2) {
        font-size: 16px;
        color: gray;
        font-weight: bolder;
    }
    
    .info_titleDiv > div:nth-child(2), .agenda_titleDiv > div:nth-child(2) {
        background-color: gainsboro;
        text-align: center;
        padding: 3px;
    }

}
