.component-mailing{
    .crud-table{
        /* @media screen and (max-width:899px) {
            .mat-header-row, .mat-row {
                width: max-content;
            }
        } */

        .action-cell {
            width: 40px !important;
            min-width: 40px !important;
            max-width: 40px !important;
        }

       
    }
}
.control-mat-dialog .dynamicFormDiv[name=subForm]{
        
}
