.component-PERFIL_IDENTIFICACION{
    .crud-table{

        .action-cell {
            width: 180px !important;
            min-width: 180px !important;
            max-width: 180px !important;
        }
    }
}