
.control-mat-dialog .dynamicFormDiv[name=subForm]{

    .precioDiv {
        display: inline-block !important;
        width:20% !important;
        margin-right: 3% !important;
    }

    .precioMatriculadoActivoDiv{
        display: inline-block !important;
        width:30% !important;
        margin-right: 3% !important;
    }

    .enviableDiv{
        display: inline-block !important;
        width:15% !important;
        margin-right: 3% !important;
    }

    .publicadoDiv{
        display: inline-block !important;
        width:10% !important;
        margin-right: 3% !important;
    }

    .temporalDiv{
        display: inline-block !important;
        width:8% !important;
    }

    .categoriaDiv{
        display: inline-block !important;
        width:50% !important;
    }
  

}
